<html>
  <head>
    <title>VLC Board</title>

    <!-- Favicon -->
    <!-- <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    /> -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />

    <!-- Meta tags -->
    <meta name="title" content="VLC Board" />
    <meta
      name="description"
      content="Work together to create something amazing. Join hundreds of other students and see what happens when you share one huge canvas."
    />
    <meta name="keywords" content="VLC Board" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/board.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <!-- Load Libraries -->
    <!-- <script src="js/login.js"></script> -->

		<script>

			const authToken = document.cookie.split("token=").pop().split(";")[0];
			let url = window.location.href;

			if (authToken) {
				if (url.includes("?token=")) {
					window.location.href = url.split("?token=")[0];
				}

				fetch(url, {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						token: authToken,
					}),
				}).then((response) => {
					if (response.status == 200) {
						if (url.includes("?token=")) {
							url = url.split("?token=")[0];
						}

						response.json().then((json) => {
							generateCountdown(placeButton, json.cooldown);
						});
					} else {
						response.text().then((text) => {
							displayErrorMessage(text);
						});
					}
				});
			} else {
				if (url.includes("?token=")) {
					const queryString = url.split("?").pop();

					const token = queryString.split("token=").pop();

					if (token) {
						document.cookie = `token=${token};max-age=31536000`;
						console.log("logged in")
						window.location.reload();
					}
				}
			}

			
		</script>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.js?features=default"></script>
  </head>

  <body>
		<div class="sidebar">
      <div class="info">
        <h1>VLC Board</h1>
      </div>
      <div id="owner"><p><b><i>&nbsp;</i></b></p></div>
      <div id="chat-container">
        <p id="chatTitle"><b>Chat</b></p>
        <div id="chat">
          <div id="messages"></div>
          <input
            type="text"
            id="chatInput"
            min="0"
            placeholder="Send a message..."
          />
        </div>
      </div>
      <div id="colors">
        <div id="loginlink">
          <p><a href="https://vlc.vercel.app/logintocanvas">Login</a></p>
        </div>
      </div>

		</div>
    <div id="main">
      <div id="container">
        <p id="pixel"></p>
        <div id="zoom-container">
          <canvas
            height="<%- canvasHeight %>"
            width="<%- canvasWidth %>"
            id="board"
          ></canvas>
        </div>
      </div>

      <div class="center">
        <p id="placePixel" onclick="placePixel(event)" style="visibility: hidden;">
          <i class="fa-sharp fa-solid fa-check"></i>
        </p>
      </div>
      <div id="error-box">
        <div class="error-content">
          <div class="error-top">
            <h1>:(</h1>
          </div>
          <p id="error">Error Text</p>
          <button class="close" onclick="closeErrorBox()">Okay!</button>
        </div>
      </div>
    </div>

    <script src="js/board/index.js"></script>
    <script src="js/board/camera.js"></script>
    <script src="js/error.js"></script>

    <script>
      if (authToken) {
        document.getElementById("loginlink").remove();
				document.getElementById("placePixel").style.visibility = "visible";
        const colorElement = document.getElementById("colors");
        colorElement.innerHTML = "";

        for (const color of Object.keys(colors)) {
          colorElement.innerHTML += `<input ${
            color == selectedColor ? 'checked=""' : ""
          } onchange="updateColor(event);" type="radio" name="color" style="background-color: ${
            colors[color]
          };" color="${color}"></div>`;
        }
      } else {
				document.getElementById("chat-container").remove();
      }
    </script>
  </body>
</html>
